.imagemsobre{
    display: flex;
    height: 300px;
    width: 500px;
    justify-content: left;
}
.secaoSobre{
    display: flex;
    margin-top: 48px;
    margin-left: 136px;
    margin-bottom: 44px;
    font-family: 'Gotham Rounded', sans-serif;
    align-items: center;
    width: 1500px;
    gap: 16px;
    background-color: #fcc9e3;
    padding: 16px;
    border-radius: 16px;
}

.informacao{
    width: 800px;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
}

.informacoes{
    font-size: 22px;
}
